@font-face {
  font-family: "HelveticaLTStd";
  src: url("../fonts/HelveticaLTStd/Helvetica_LT_Std_Bold.otf"), url("../fonts/HelveticaLTStd/HelveticaLTStd-Light.otf"), url("../fonts/HelveticaLTStd/HelveticaLTStd-Roman.otf");
}

@font-face {
  font-family: "CherrySwash";
  src: url("../fonts/CherrySwash-Regular.otf");
}

@font-face {
  font-family: "Myriad pro";
  src: url("../fonts/Myriad pro-regular.otf");
}

@font-face {
  font-family: "HelveticaLTStd-Bold";
  src: url("../fonts/HelveticaLTStd/Helvetica_LT_Std_Bold.otf");
}

@font-face {
  font-family: "HelveticaLTStd-Light";
  src: url("../fonts/HelveticaLTStd/HelveticaLTStd-Light.otf");
}

@font-face {
  font-family: "HelveticaLTStd-Roman";
  src: url("../fonts/HelveticaLTStd/HelveticaLTStd-Roman.otf");
}
